<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>COVID19 India Statistics</title>
</head>
<body class="p-3 mb-2 bg-white text-dark">
<h1 style="text-align: center;padding-top: 20px; margin-bottom: -750px;">COVID19 Statistics India</h1>
<div class="container">
<div class="table-responsive">
<table class="table table-bordered table-striped table-dark" style=" margin: 50px;">
    <tr>
        <th>State</th>
        <th>Affected</th>
        <th>Cured</th>
        <th>Deaths</th>
    </tr>
    {% for i in range(session['length']) %}
    <tr>
        <td scope="row">{{session['state'][i]}}</td>
        <td>{{session['affected'][i]}}</td>
        <td>{{session['cured'][i]}}</td>
        <td>{{session['death'][i]}}</td>
    </tr>
        <br>
    {% endfor %}
</table>
</div>
</div>
</body>
</html>